.video_container{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #062AD8;
    overflow: hidden;
}
.video_holder video{

    max-height: 100vh;
    max-width: 100vw;

}