.nft-image {
    margin: 16px 0;
}

.nft-image img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #e4e7ea;
    background: #ffffff;
}

.nft-image video {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #e4e7ea;
    background: #ffffff;
}

.active-tab {
    color: rgb(36, 197, 249);
}

.from-address {
    font-size: 15px;
    color: rgb(36, 197, 249);
}

.withdrawn-offer {
    color: gray;
    text-decoration: line-through gray;
}

.nft-detail .nft-details .nft-details-header p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

.nft-detail .nft-details .nft-details-owner-card {
    min-width: 160px;
}

.nft-xdc-36 {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.nft-xdc-24 {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}
.nft-xdc-20 {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
}

/***********************************************************
                    Properties CSS
***********************************************************/

.nft-properties-collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: left;
    font-size: 15px;
}

.nft-properties-active, .nft-properties-collapsible:hover {
    background-color: transparent;
}

.nft-property-tags {
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
}

/***********************************************************
                    Unlockable Content CSS
***********************************************************/

.unlockable-content-collapsible {
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 12px;
    text-align: left;
    font-size: 15px;
}

.unlockable-content-active, .unlockable-content-collapsible:hover {
    background-color: transparent;
}

.unlockable-content {
    padding-left: 5px;
    padding-right: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
}

.unlockable-content p {
    margin-top: 10px;
    color: white;
}

.h-32{
    height: 32px !important;
}