/***********************************************************
                    Home Page CSS
***********************************************************/

.container {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

/***********************************************************
                    Exploring, Collecting, Selling text
***********************************************************/

.topBannerText {
    padding-top: 90px;
    padding-right: 50px;
}

.topBannerText.gradient-text {
    font-size: 27px;
    font-weight: 500;
    line-height: 55px;
}

.topBannerText p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
}

/***********************************************************
                    Featured NFT
***********************************************************/

.featuredNFT {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    width: 548px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-style: none;
    background-color: rgb(48, 51, 57);
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.featuredNFTCaption {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    height: 100%;
    flex-grow: 1;
}

.featuredNFTCaption img, .featuredNFTCaption video {
    width: auto;
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 10px;
}

.featuredNFT:hover {
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);
    cursor: pointer;
    transform: translateY(-10px);
}

.featuredNFTTitle h5 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    color: #fff;
}

.featuredNFTTitle span {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

/***********************************************************
                    Spotlight Collections Cards
***********************************************************/

.collectionNFTs .nft-card {
    background-color: #000;
    border-radius: 12px;
    border: 1px solid #24c5f9;
    padding: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.2);
    z-index: 999;
}

.collectionNFTs .nft-value {
    font-size: 15px;
    color: rgba(36, 197, 249, 1) !important;
}

/***********************************************************
                    Trending Items Cards
***********************************************************/

.trendingItems {
    background-color: transparent;
}

.trendingItems .nft-card {
    background-color: #000;
    border-radius: 12px;
    border: 1px solid #24c5f9;
    padding: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 20px 0 rgba(255,255,255,0.2);
    z-index: 999;
}

.trendingItems .nft-value {
    font-size: 15px;
    color: rgba(36, 197, 249, 1) !important;
}

/***********************************************************
                    Collection Page CSS
***********************************************************/

.collection-banner img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.collection-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: -96px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    outline: 1px solid #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
}

.collection-logo img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* .collection-description-text {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

.description-gradient {
    width: 100%;
    height: 90px;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, black);
    /* border-bottom: 1px solid #fff; */
    overflow: hidden;
}

.collection-social-links {
    display: flex;
}

.collection-social-links span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 51, 57);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.collection-social-links img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.collection-floor-price h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-volume-traded h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********************************************************
                    Miscellaneous
***********************************************************/

.nft-header {
    transform: translateY(0);
    position: absolute;
    background-color: transparent;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-out;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    min-height: 64px;
}

.nft-header-home {
    box-shadow: none;
    background-color: transparent;
}

.light-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    height: 7rem;
    background-color: transparent;
}

.dark-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    height: 7rem;
    background-color: transparent;
}

.navbarLinks {
    margin-top: 6px;
}

.nft-header.nft-header-home .light-logo {
    display: block;
    background-color: transparent;
}

.nft-header.nft-header-home .dark-logo {
    display: none;
    background-color: transparent;
}

.nft-header .light-logo {
    display: block;
    background-color: transparent;
}

.nft-header .dark-logo {
    display: none;
    background-color: transparent;
}

.nft-header .nft-menu-button {
    position: absolute;
    right: 16px;
}

.nft-header .nft-responsive-menu {
    background-color: #ffffff;
}
.nft-header.nft-header-home .text-gray-400 {
    color: rgb(209 213 219) !important;
}

.middleBanner {
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    color: #fff;
    background-color: #000;
    margin-bottom: 0px;
}

.tutorial {
    max-width: 1600px;
}

.tutorial img {
    object-fit: contain;
}

.nft-sell {
    width: 100%;
    background: #edf3f7;
    padding: 80px 0;
}

.nft-sell .nft-sell-blocks {
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
    min-height: 300px;
    text-align: center;
    transition: 0.3s;
}

.nft-sell .nft-sell-blocks:hover {
    background: #f6f9ef;
    transform: translateY(-10px);
}

.nft-sell .nft-sell-blocks .nft-sell-image {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 20px 20px 40px 20px;
}

.nft-sell .nft-sell-blocks .nft-sell-image img {
    margin: auto;
}

.nft-sell .nft-sell-blocks h4 {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.nft-sell .nft-sell-blocks p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

.nft-join-us {
    position: relative;
    height: 100%;
}

.nft-join-us:after {
    content: '';
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: -1;
}

.nft-join-us-block {
    background-image: linear-gradient(to right bottom, #421dcc, #0484e5, #f977a1);
    padding: 100px 50px;
    border-radius: 16px;
    position: relative;
}

.nft-join-us h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}

.nft-join-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft-join-us-section h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 500;
    line-height: 55px;
}

.nft-banner {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: soft-light
}

.nft-banner::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .nft-join-us-section {
        display: block;
    }
}

@media (max-width: 992px) {
    .nft-sell .nft-sell-blocks {
        height: auto;
    }

    .nft-banner {
        padding-top: 100px;
    }

    .nft-banner ul.banner_lists li h2 {
        font-size: 30px;
    }
}

@media (max-width: 1280px) {
    .nft-banner ul.banner_lists li h2 {
        font-size: 36px;
    }
}

.secondary-page-header {
    margin-top: 140px;
}